// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-list{
  padding-top: 3px;
  padding: 8px;
}
.total-price{
  padding-top: 3px;
  font-family: verdana, arial, helvetica, sans-serif;
  color: green;
  font-size: 1.2em;

}
.grand-total{
  padding-top: 3px;
  font-family: verdana, arial, helvetica, sans-serif;
  color: green;
  font-size: 1.5em;

}
.delete-cart{
  color: #c0c0c0;

}
.delete-cart>.a{
  color: #c0c0c0;
}