<h1>Listing brands</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <!--<th>History</th>-->
      <th colspan=""></th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= link_to "#{brand.name}",brand %></td>
        <!--<td><%#= brand.history %></td>-->
        <td><%= link_to 'Edit  ', edit_brand_path(brand) %></td>
        <td><%= link_to 'Destroy', brand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brand', new_brand_path %>
